html {
  font-size: 18.5px;
}
body {
  height: 100%;
  background-color: #fff;
  color: #666;
  font: 12px/1.5 'Lucida Grande', Arial, '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53';
  overflow-y: scroll;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.item_choose_wrap .item_choose,
.cart_empty .icon_cart,
.cart_list .shop_detail .icon_shop,
.cart_list .shop_detail .coupon_list .handle_1 .icon,
.cart_list .tag_active .tag_arrow,
.mod_tips_layer .mod_tips_layer_cnt .ico_prt,
.hinter_gift .gift_top .close,
.activity_top .activity_handle .handle_1 .icon,
.activity_top .activity_handle .handle_2 .icon,
.tag_arrow_bottom,
.tag_arrow_top,
.pro-bar__btn:before,
.pro-renew-bar__btn:before,
.icon_service,
.icon_service_fill,
.icon_question {
  background: url(../img/cart_sprite.png) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.item_choose_wrap .item_choose {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: absolute;
  z-index: 3;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  background-position: -10px -90px;
}
.item_choose_wrap .item_choose_checked {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  background-color: #fff;
}
.item_choose_wrap {
  float: left;
  margin: 13px 10px 0 0;
}
.base_clear,
.cart_top::after,
.cart_detail .cart_title::after,
.cart_list .item_sub::after,
.cart_list .num_wrap::after,
.hinter_gift .gift_item::after,
.hinter_gift_select .gift_item::after,
.active_list ul li::after,
.item_detail::after,
.activity_top::after,
.package_top::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
.item_choose_wrap {
  width: 12px;
  height: 12px;
  border: 1px solid #c8c8c8;
  position: relative;
  z-index: 3;
  background-color: #fff;
  border-radius: 1px;
}
.header,
.footer {
  min-width: 1200px;
}
.header {
  background: #fff;
  height: 44px;
  background: #0092d8;
  position: relative;
  z-index: 50;
  border-top: 0.1px solid rgba(255, 255, 255, 0);
}
.header .logo {
  float: left;
  width: 120px;
  height: 44px;
  background-image: url(../img/index_service_sprite_v3.png);
  background-size: 200px 80px;
  background-position: -80px 0;
}
.header .header_nav {
  float: left;
}
.header .header_nav .nav .item {
  float: left;
}
.header .header_nav .nav .item .item_tit {
  display: block;
  padding: 0 30px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  height: 44px;
  line-height: 44px;
  color: #a3c3e6;
  font-size: 12px;
}
.header .header_nav .nav .item .item_tit:hover {
  color: #fff;
}
.header .header_right {
  position: absolute;
  top: 0;
  right: 0;
}
.header .header_right > .right {
  float: left;
  position: relative;
  background: #fff;
  padding: 0;
  width: 75px;
  background: none;
  height: 44px;
  cursor: pointer;
}
.header .header_right .icon_right {
  display: block;
  width: 20px;
  height: 20px;
  margin: 12px auto;
  background-image: url(../img/atom_sprite.png);
  background-repeat: no-repeat;
}
.header .header_right .header_right_search {
  width: 45px;
}
.header .header_right .header_right_search .search_wrap {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  width: 75px;
  background: none;
  height: 44px;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-user-select: none;
}
.header .header_right .header_right_search .search_wrap .icon_search {
  top: 12px;
  background-position: -60px -100px;
}
.header .header_right .header_right_search .search_wrap > form {
  display: none;
}
.header .header_right .header_right_search .search_wrap > form > input {
  display: block;
  width: 100%;
  height: 44px;
  height: 43px\9;
  line-height: 44px;
  padding: 0 10px 0 35px;
  border: 0 none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}
.header .header_right .header_right_search_hover .search_wrap {
  width: 250px;
}
.header .header_right .header_right_search_hover .search_wrap .icon_search {
  top: 12px;
  left: 10px;
  background-position: -66px -215px;
}
.header .header_right .header_right_search_hover .search_wrap > form {
  display: block;
}
.header .header_right .header_right_wx {
  width: 65px;
  position: relative;
}
.header .header_right .header_right_wx .icon_wx {
  top: 12px;
  background-position: -80px -100px;
}
.header .header_right .header_right_wx .wx_wrap {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 51;
  border-top: 0 none;
  top: 44px;
  left: auto;
  right: -86px;
  margin: 0;
}
.header .header_right .header_right_wx .wx_wrap .wx_code {
  display: block;
  border: 0;
}
.header .header_right .header_right_wx .wx_wrap:hover {
  display: block;
}
.header .header_right .header_right_wx:hover {
  background-color: #006fa3;
}
.header .header_right .header_right_wx:hover .wx_wrap {
  display: block;
}
.header .header_right .header_right_cart {
  width: auto;
  padding: 0 20px;
}
.header .header_right .header_right_cart .icon_cart {
  background-image: url(../img/index_sprite.png);
  float: left;
  background-position: -146px -215px;
  cursor: pointer;
}
.header .header_right .header_right_cart .header_cart_num {
  display: block;
  float: left;
  color: #fff;
  margin: 11px 0 0 5px;
}
.header .header_right .header_right_cart:hover {
  background-color: #006fa3;
}
.header .header_right .header_right_user_login_fail {
  width: 86px;
  display: block;
}
.header .header_right .header_right_user_login_fail .icon_user_main {
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(../img/index_sprite.png);
  background-position: -35px -216px;
  margin-left: 20px;
}
.header .header_right .header_right_user_login_fail .user_login_name {
  display: block;
  float: left;
  margin-left: 2px;
  cursor: pointer;
  line-height: 44px;
  color: #fff;
}
.header .header_right .header_right_user_login_fail .user_wrap {
  display: none;
  width: 291px;
  background: #fff;
  position: absolute;
  margin-left: 302px;
  z-index: 51;
  border: 1px solid #d6d6d6;
  border-top: 0 none;
  top: 44px;
  left: auto;
  right: 0;
}
.header .header_right .header_right_user_login_fail .user_wrap .row {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a {
  width: 100%;
  display: inline-block;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .icon_atom {
  display: inline-block;
  width: 0;
  height: 0;
  background: url(../img/atom_sprite.png) no-repeat 10000px 10000px;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .fn {
  color: #333;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .icon_my_order {
  width: 12px;
  height: 12px;
  background-position: -284px -44px;
  margin: 0 10px 0 20px;
  position: relative;
  top: 2px;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .icon_my_coupon {
  width: 20px;
  height: 20px;
  background-position: -240px -80px;
  margin: 0 6px 0 16px;
  position: relative;
  top: 4px;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .icon_my_score {
  width: 12px;
  height: 14px;
  background-position: -284px -23px;
  margin: 0 10px 0 20px;
  position: relative;
  top: 2px;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .icon_my_privilege {
  width: 12px;
  height: 12px;
  background-position: -208px -85px;
  margin: 0 10px 0 20px;
  position: relative;
  top: 2px;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a .icon_my_midea_product {
  width: 12px;
  height: 12px;
  background-position: -65px -24px;
  margin: 0 10px 0 20px;
  position: relative;
  top: 2px;
}
.header .header_right .header_right_user_login_fail .user_wrap .row a:hover {
  background-color: #eee;
}
.header .header_right .header_right_user_login_fail:hover {
  background-color: #006fa3;
}
.header .header_right .header_right_user_login_fail:hover .user_wrap {
  display: block;
}
.header .header_tz {
  display: block;
  font-size: 12px;
  background: #003b66;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  padding: 4px;
  margin-top: 44px;
}
.address_wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  float: left;
  height: 28px;
  line-height: 26px;
  z-index: 49;
}
.cart_wrap {
  margin-top: 50px;
  position: relative;
  padding-bottom: 70px;
}
.cart_wrap .cart_top {
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
}
.cart_wrap .cart_top .cart_top_inner {
  width: 1200px;
  margin: 0 auto;
  font-weight: normal;
}
.cart_wrap .cart_top .cart_top_inner .cart_title {
  float: left;
  font-size: 32px;
  line-height: 80px;
  color: #333;
  font-weight: normal;
}
.cart_wrap .cart_top .cart_address {
  float: right;
  background-color: #fff;
  *zoom: 1;
  max-width: 260px;
  margin-top: 26px;
}
.cart_wrap .cart_top .cart_address .address_selected {
  float: right;
  border: 0;
}
.cart_wrap .cart_top .cart_address .address_selected .address_option {
  margin: 0;
}
.cart_wrap .cart_top .cart_address .address_wrap {
  padding-left: 10px;
}
.cart_wrap .cart_top .cart_address .address_wrap .address_selected {
  display: inline-block;
  *display: inline;
  position: relative;
  height: 28px;
  line-height: 28px;
  padding: 0 10px 0 10px;
  overflow: hidden;
}
.cart_wrap .cart_top .cart_address .address_wrap .address_selected .address_option {
  margin: 0 0 0 5px;
  padding: 0;
  cursor: pointer;
  display: block;
  float: left;
  max-width: 53px;
}
.cart_wrap .cart_top .cart_address .address_wrap .address_hinter {
  float: left;
}
.cart_wrap .cart_top .cart_address .address_wrap .address_hinter {
  height: 28px;
  line-height: 28px;
}
.cart_wrap .cart_body {
  width: 1200px;
  margin: 0 auto;
}
.cart_wrap .cart_body .cart_detail {
  width: 1200px;
  margin-bottom: 42px;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap {
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  height: 40px;
  line-height: 40px;
  color: #aaa;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap li {
  float: left;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_choose {
  width: 114px;
  padding: 0 10px 0 20px;
  color: #333;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_choose .item_choose_wrap {
  float: left;
  margin: 13px 10px 0 0;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_product {
  width: 315px;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_sku,
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_price,
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_num,
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_total {
  width: 160px;
}
.cart_wrap .cart_body .cart_detail .cart_title_wrap .cart_operation {
  width: 99px;
}
.cart_wrap .cart_body .cart_detail .cart_list .shop_detail {
  margin-left: 24px;
  padding: 9px 0;
  line-height: 22px;
}
.cart_wrap .cart_body .cart_detail .cart_list .shop_detail .icon_shop {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 16px;
  width: 16px;
  position: relative;
  top: 4px;
  *top: 0;
  *margin-right: 5px;
  background: url(../img/cart_sprite.png) no-repeat -20px -74px;
}
.cart_wrap .cart_body .cart_detail .cart_list .item_title {
  background-color: #fafafa;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
.cart_wrap .cart_body .cart_detail .cart_list .item_detail {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #ccc;
  color: #333;
  font-size: 12px;
  line-height: 18px;
  *zoom: 1;
}
.cart_wrap .cart_body .cart_detail .cart_list .item_detail .item_sub {
  position: relative;
  *zoom: 1;
  z-index: auto;
  padding: 0 20px;
}
.cart_wrap .cart_body .cart_detail .cart_list .item_detail .item_sub .cart_choose {
  position: relative;
  width: 14px;
  padding: 20px 20px 0 0;
  z-index: 3;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_item {
  border: 1px solid #ccc;
  margin-top: 20px;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_img {
  width: 90px;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_img img {
  width: 78px;
  height: 78px;
  border: 1px solid #eee;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_product {
  width: 225px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 90px;
  padding-left: 0;
  font-size: 12px;
  float: left;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_product .title-box {
  max-height: 36px;
  overflow: hidden;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_product .title-box {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_sku,
.cart_wrap .cart_body .cart_detail .cart_list .cart_price,
.cart_wrap .cart_body .cart_detail .cart_list .cart_num,
.cart_wrap .cart_body .cart_detail .cart_list .cart_total {
  width: 160px;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_total {
  color: #f60;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_operation {
  width: 79px;
  padding-left: 0;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_invalid,
.cart_wrap .cart_body .cart_detail .cart_list .cart_choose,
.cart_wrap .cart_body .cart_detail .cart_list .cart_img,
.cart_wrap .cart_body .cart_detail .cart_list .cart_sku,
.cart_wrap .cart_body .cart_detail .cart_list .cart_price,
.cart_wrap .cart_body .cart_detail .cart_list .cart_num,
.cart_wrap .cart_body .cart_detail .cart_list .cart_total,
.cart_wrap .cart_body .cart_detail .cart_list .cart_operation {
  float: left;
  padding: 20px 0;
}
.cart_wrap .cart_body .cart_detail .cart_list .sku_color,
.cart_wrap .cart_body .cart_detail .cart_list .sku_spec,
.cart_wrap .cart_body .cart_detail .cart_list .price_old,
.cart_wrap .cart_body .cart_detail .cart_list .price_new,
.cart_wrap .cart_body .cart_detail .cart_list .operation_collect,
.cart_wrap .cart_body .cart_detail .cart_list .u {
  display: block;
  cursor: pointer;
}
.cart_wrap .cart_body .cart_detail .cart_list .price_old,
.cart_wrap .cart_body .cart_detail .cart_list .price_new,
.cart_wrap .cart_body .cart_detail .cart_list .cart_total {
  font-weight: bolder;
}
.cart_wrap .cart_body .cart_detail .cart_list .price_old {
  color: #a9a9a9;
  text-decoration: line-through;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap {
  width: 82px;
  text-align: center;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap .plus {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  width: 22px;
  height: 22px;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap .plus .inner {
  background: url(../img/atom_sprite.png) no-repeat -180px -100px;
  width: 10px;
  height: 10px;
  top: 7px;
  left: 7px;
  border: none;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap .num {
  border: 1px solid #d6d6d6;
  background: #fff;
  border-left: 0;
  border-right: 0;
  text-align: center;
  -webkit-appearance: none;
  height: 22px;
  line-height: 22px;
  width: 34px;
  border-radius: 0;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap .minus {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  width: 22px;
  height: 22px;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap .minus .inner {
  background: url(../img/atom_sprite.png) no-repeat -200px -100px;
  width: 10px;
  height: 10px;
  top: 7px;
  left: 7px;
  border: none;
}
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap span,
.cart_wrap .cart_body .cart_detail .cart_list .num_wrap input {
  float: left;
  border: 1px solid #d6d6d6;
  text-align: center;
  position: relative;
}
.cart_wrap .cart_body .cart_detail .cart_list .cart_product_status {
  width: 122px;
  margin-left: -20px;
  text-align: center;
  color: #d69256;
  padding-top: 2px;
  clear: left;
  overflow: hidden;
}
.cart_wrap .cart_body .cart_bottom_fixed {
  z-index: 10;
  position: fixed;
  bottom: -2px;
  width: 1200px;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom {
  width: 100%;
  max-width: 1188px;
  height: 60px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
  position: relative;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_left {
  clear: right;
  overflow: hidden;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .item_choose_wrap {
  margin: 23px 10px 0 0;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_right {
  position: absolute;
  right: 0;
  top: 0;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .color_f60 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 3px;
  color: #f60;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .total_price {
  line-height: 60px;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .total_price .total_price_inner {
  color: #f60;
  font-size: 18px;
  line-height: 18px;
  font-weight: bolder;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_to_order {
  width: 160px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  background-color: #f60;
  color: #fff;
  cursor: pointer;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_delete,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_collect,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_invalid {
  margin-left: 40px;
  cursor: pointer;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_num,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_price {
  margin-right: 40px;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_choose,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .item_choose_wrap,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_delete,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_collect,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_invalid,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_num,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_price,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_to_order {
  float: left;
}
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_left,
.cart_wrap .cart_body .cart_bottom_fixed .cart_bottom .cart_sum_num {
  line-height: 60px;
}
